article-date-fn(use-padding = false)
  font-content-mixin(1.4em, dark)
  font-weight bold
  if use-padding
    padder-left(15px)

.article-tags
  font-content-mixin(1em, bling)
  text-decoration underline

.article-date
  article-date-fn()

.article-date-pad-left
  article-date-fn(true)

.article-header
  margin-bottom 0
  font-size 2em