@import "nib"
@import "jeet"
@import "variables"
@import "mixers"
@import "article"

body
  font-conent-mixin(1.4em)
  background url("/static/images/lined_paper_@2X.png") top left repeat
  padding 0
  margin 0
  font-link-mixin()

pre
code
  font-code-mixin()

section
  center(960px)
  font-content-mixin(18px)

.container
  center(960px)
  font-content-mixin()

  .blog-roll
    col(1/2)
  .sidebar
    col(1/2)

#header
  flexxin()
  .logo
    col(1/3)
    vertical-align()
    img
      height 70px
      border-radius(50px)
  .menu
    col(1/3)
    vertical-align()
  .blurb
    col(1/3)
    vertical-align()
    font-brand-mixin(text-default, 22px)