// padder
padder-left(n)
  padding-left n

padder-right(n)
  padding-right n

// font mixins
font-code-mixin()
  font-family: font-code
  font-size: 1em

font-content-mixin(size = 14px, color = text-default)
  font-family: font-content
  font-size: size
  color color

font-brand-mixin(color = text-default, size = 14px)
  font-family: font-brand
  font-size size
  color color

font-link-mixin()
  a
    font-family font-link
    font-size 14px
    font-weight bold
    text-decoration none
    color bling
    &:hover
      color dark

// circular
border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

// alignment
flexxin()
  display flex
  -webkit-box-pack center
  -webkit-box-align center
  align-items center

vertical-align()
  flex none
  -webkit-box-flex 0
  -webkit-flex none
  -ms-flex none
  max-width 50%