codebox-mixin()
  margin-top 100px
  border-radius 5px
  background-color rgba(0,0,0,0.5)
  col(1/2)
  h1
    font-size 2em
    color text-invert
    font-family font-content
    font-weight bolder
    text-align center
    line-height 3em
  .codebox
    background-color rgba(44,0,30,0.9)
    color text-invert
    font-family font-code
    padding 5px
    line-height 1.2em

#step1
  codebox-mixin()
#step2
  codebox-mixin()
