// base variables

// ubuntu colors
orange = #dd4814
aubergine-light = #77216f
aubergine-dark = #5e2750
aubergine-darkest = #2c001e
light-grey = #aea79f
dark-grey = #333333
text-default = #000000
text-invert = #FFFFFF

// fonts
font-content = "Ubuntu", sans-serif
font-link = "Ubuntu", sans-serif
font-code = "Ubuntu Mono", monospace
font-brand = "Exo 2", sans-serif
