// base variables

// colors
darkest = #1E1E20
darker = #2A2C2B
dark = #374140
light = #D9CB9E
bling = #DC3522
base = #FFFFFF
text-default = #000000
text-invert = #FFFFFF

// fonts
font-content = "Architects Daughter", cursive
font-link = "Source Sans Pro", sans-serif
font-code = "Ubuntu Mono", monospace
font-brand = "Architects Daughter", cursive