extends ./layout.jade

block content
  .col-md-12
    h1.page-header Documentation
    .well.
      Coming soon, in the meantime have a look at our <a href="http://j.mp/ubuntu-openstack-installer">auto generated documentation.</a>
