extends layout

block title
  title= active

block content
  .container
    .row
      .col.s3
        h3 Guides
        .collection
          each guide in guides
            a(class="collection-item" href="/guides/#{guide.slug}") #{guide.title}
      .col.s9
        .flow-text
          p!= html
