extends layout

block content
  .container
    .section
      .row
        .col.s6
          .card
            .card-image
              img(src="/static/images/install-card.jpg")
              span(class="card-title") Install
            .card-content
              pre
                code.bash.
                  $ sudo apt-add-repository ppa:cloud-installer/stable
                  $ sudo apt-get update
                  $ sudo apt-get install openstack
                  $ sudo openstack-install
        .col.s6
          | <iframe width="600" height="338" src="https://www.youtube.com/embed/1eUoamVBzFI" frameborder="0" allowfullscreen></iframe>
      .row.center
        .col.s12
          h1 Get Help
          h5.orange-text For developer support
          p.flow-text.
            We're on <strong>irc.freenode.net</strong> at #ubuntu-server or
            our <a href="https://lists.ubuntu.com/mailman/listinfo/ubuntu-openstack-installer">mailing list</a>.
          h5.orange-text General OpenStack
          p.flow-text.
            Find help on running OpenStack at <a href="https://askubuntu.com/questions/tagged/openstack">Ask Ubuntu</a>
